@import "tailwindcss";

@theme {
  --color-navy: #0a1128;
  --color-card-bg: #111c3d;
  --color-beige: #fae2c0;
  --color-beige-muted: #e3ccac;
  --color-gold: #c9a227;

  --font-fraunces: "Fraunces", serif;
  --font-work: "Work Sans", sans-serif;
  --font-display: "DisplayFont", sans-serif;
  --font-archerus: "Acherus", sans-serif;
  --font-amsterdam: "Amsterdam", cursive;
}

@font-face {
  font-family: "Acherus";
  src: url("./assets/fonts/AcherusMilitantBold.otf") format("opentype");
  font-weight: 400 700;
  /* remove the range if the file is a single weight */
  font-display: swap;
}

@font-face {
  font-family: "Amsterdam";
  src: url("./assets/fonts/Amsterdam.otf") format("opentype");
  font-weight: 400;
  font-display: swap;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}